@charset "utf-8";
@use 'colors' as *;

.calendar {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}

.day-container {
    position: relative;
    padding: 10px;
    text-align: center;
    height: 30px;
    width: 14.28%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.calendar-week-header {
    width: 14.28%;
    padding: 0px 0px 10px 0px;
    box-sizing: border-box;
    text-align: center;
}

.today {
    font-weight: bold;
}

.date-number {
    position: relative;
    font-size: 14px;
    color: black;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
    white-space: nowrap;
    border-bottom: 2px solid $date-underline-color;
}

.activity-indicator {
    position: absolute;
    background: black;
    border-radius: 50%;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 0;
    display: block;
    transform: translate(-50%, -50%);
    min-width: 2px;
    min-height: 2px;
    max-width: 30px;
    max-height: 30px;
}

.day-container:hover .date-number {
    opacity: 1;
}

.day-container:hover .activity-indicator {
    opacity: 0;
}

.activity-indicator.no-activity {
    background-color: $no-activity-color;
}
