// 总次数和总距离字体
$primary-color: #242428;

//日历日期下划线颜色
$date-underline-color: #242428;

// 柱状图字体
$gray-color: #333;
// 柱状图颜色
$light-gray-color: #EBE6F2;
// 柱状图边框
$light-gray-border-color: #DFD7E9;
// 未活动日历
$no-activity-color: gray;

//------ 分类色
// 公路车
$cycling-color: #EBE6F2;
$cycling-border-color: #DFD7E9; 
// 跑步
$running-color: #D5E5D3;
$running-border-color: #BDD6BA;

// 背景和文本颜色
$background-color: #333;
$text-color: #fff;