// 主背景颜色
$lightblue: rgb(153,204,255);
$darkblue: rgb(46, 169, 223);
$lightgray: rgb(150, 150, 150);
$darkgray: rgb(67, 67, 67);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$default: rgb(34, 34, 34);

$scrollbar-track: rgba(255, 255, 255, 0.1);
$scrollbar-thumb: rgba(255, 255, 255, 0.5);;
$scrollbar-hover: rgba(255, 255, 255, 0.7);;

$scrollbar-track-horizontal: rgba(255, 255, 255, 0.1);
$scrollbar-thumb-horizontal: #9cf;
$scrollbar-thumb-horizontal-hover :#7ab;