---
layout: compress
---
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    {% include head.html %}
    <body>
        <div class="page-thumb">
            <img src="{{ thumbnail }}" alt="{{ page.title }}"/>
        </div>
        {% include nav.html %}
        <main class="page-main">
            <header class="page-header">
                <hgroup class="page-hgroup">
                <h1 class="page-title ">
                    <a class="page-title-link" href="{% if page.title %}{{ page.url }}{% else %}{{ site.home }}{% endif %}">
                        {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
                    </a>
                    {% if page.url == '/archive.html' %}
                    <div class="search-article">
                        <input class="page-search-input" type="text" placeholder="搜索(Enter 全文搜索)"/>
                    </div>
                    {% endif %}
                </h1>
                    <h2 class="page-subtitle">
                    {% if page.date %}
                    <time class="post-date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y 年 %m 月 %d 日 %R" }}</time>
                        <span class="post-count">本文 {{ page.content | strip_html | strip_newlines | remove: " " | size }} 字，阅读全文约需 {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }} 分钟
                            <p>鄙人博客采用:
                                <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh-hans" target="_blank">CC BY-NC-ND 4.0</a>，转载请务必注明出处，谢谢
                            </p>
                        </span>
                    {% elsif paginator
                        or page.url == '/life.html'
                        or page.url == '/tech.html'
                    %}
                        <div class="post-cats cf">
                            <a class="post-cat-tag{% if paginator %} active{% endif %}" href="/">全部</a>
                            <a class="post-cat-tag{% if page.url == '/life.html' %} active{% endif %}" href="/life.html">生活</a>
                            <a class="post-cat-tag{% if page.url == '/tech.html' %} active{% endif %}" href="/tech.html">技术</a>
                            <a class="post-cat-tag{% if page.url == '/music.html' %} active{% endif %}" href="/music.html">音乐</a>
                            <a class="post-cat-tag{% if page.url == '/about.html' %} active{% endif %}" href="/about.html">关于</a>
                            <a class="post-cat-tag{% if page.url == '/guestbook.html' %} active{% endif %}" href="/guestbook.html">留言本</a>
                        </div>
                    {% else %}
                        {{ page.description }}
                    {% endif %}
                    </h2>
                </hgroup>
            </header>
            <section class="page-content">
                {{ content }}
            </section>
            <footer class="page-footer">
              <small>&copy; 2018-{{ site.time | date: '%Y' }} Github Pages & Jekyll & Disqus | <a href="https://beian.miit.gov.cn/" target="_blank">豫ICP备2024046152号-1</a></small>
            </footer>
        </main>
    </body>
</html>