---
layout: default
---
<link rel="stylesheet" href="{{ site.FONT_PATH }}/highlight/a11y-light.min.css?v={{ site.time | date: '%s' }}">
<article class="post-content">
  {% if content contains site.ARTICLEPICTURES_PATH %}
    {% assign images = content | split:'<img src="' %}
    {% for image in images %}
      {% if image contains site.ARTICLEPICTURES_PATH %}
        {% assign thumbSrc = image | split: '" ' | first %}
        {% assign imageSrc = thumbSrc | split: '?imageView' | first | remove: "_640v" | remove: "_640" %}
        {% assign newImage = placeholder | append: '" data-src="' | append: imageSrc | append: '" class="lazyload' %}
        {% if thumbSrc contains site.ARTICLEPICTURES_PATH and newImage contains site.ARTICLEPICTURES_PATH %}
          {% assign content = content | replace: thumbSrc, newImage %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% assign content = content | replace_first:'id="markdown-toc"','class="post-toc"' %}
  {{ content }}
</article>

<script async src="{{ site.FONT_PATH }}/highlight/highlight.min.js?v={{ site.time | date: '%s' }}"></script>
{% include info.html %}

<script async>
  window.addEventListener('load', function(){
    hljs.highlightAll();
  });
</script>
<div id="comment"></div>
{% include wechat.html %}