---
layout: default
---
<script src="https://cdn.bootcdn.net/ajax/libs/prism/1.30.0/prism.min.js"></script>
{% if page.layout == 'post' or page.layout == 'page' %}
<script src="https://cdn.bootcdn.net/ajax/libs/prism/1.30.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/prism/1.30.0/plugins/autoloader/prism-autoloader.min.js"></script>
{% endif %}

<article class="post-content line-numbers">
  {% if content contains site.ARTICLEPICTURES_PATH %}
    {% assign images = content | split:'<img src="' %}
    {% for image in images %}
      {% if image contains site.ARTICLEPICTURES_PATH %}
        {% assign thumbSrc = image | split: '" ' | first %}
        {% assign imageSrc = thumbSrc | split: '?imageView' | first | remove: "_640v" | remove: "_640" %}
        {% assign newImage = placeholder | append: '" data-src="' | append: imageSrc | append: '" class="lazyload' %}
        {% if thumbSrc contains site.ARTICLEPICTURES_PATH and newImage contains site.ARTICLEPICTURES_PATH %}
          {% assign content = content | replace: thumbSrc, newImage %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% assign content = content | replace_first:'id="markdown-toc"','class="post-toc"' %}
  {{ content }}
</article>

{% include info.html %}

<script>
  window.addEventListener('load', function(){
    Prism.highlightAll(); // 添加 Prism.js 的初始化代码
  });
</script>
<div id="comment"></div>
{% include wechat.html %}